# OOPS LAB Questions

## Lab 1: Variables and Data Types

Q1. Write a Python program to check the type of a variable.

Q2. Write a Python program to add two integers number, a integer & a float number, two string type variables.

Q3. Write a Python program to SWAP two numbers without using a third variable.

Q4. Write a Python program to define different ways of difining variable names (e.g. swap,Swap,SWAP).

Q5. Write a Python program to perform all basic arithmetic operations.

Q6. Write a Pytohn program to calculate and circumference of a circle.

In [2]:
# Solution 1
x=10
y=3.14
z="Hello, World!"
print(type(x))  
print(type(y))  
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
# Solution 2
a=10
b=20
print("The sum of a and b is:",a+b)
c=2.5
print("Sum of integer and float is:",a+c)
d="Python"
e="Programming"
print("Concatenation of two strings is:",d+e)

The sum of a and b is: 30
Sum of integer and float is: 12.5
Concatenation of two strings is: PythonProgramming

In [4]:
# Solution 3
a=5
b=10
print("Before swapping: a =", a, ", b =", b)
a, b = b, a
print("After swapping: a =", a, ", b =", b)

Before swapping: a = 5 , b = 10
After swapping: a = 10 , b = 5

In [5]:
# Solution 4
small_swap=1
SmallSwap=2
_small_Swap=3
smallSwap=4
print(small_swap,SmallSwap,_small_Swap,smallSwap)

1 2 3 4

In [6]:
# Solution 5
a=15
b=4
print("Sum:",a+b)
print("Difference:",a-b)
print("Product:",a*b)
print("Quotient:",a//b)
print("Remainder:",a%b)
print("Exponentiation:",a**b)
print("Float Division:",a/b)

Sum: 19
Difference: 11
Product: 60
Quotient: 3
Remainder: 3
Exponentiation: 50625
Float Division: 3.75

In [7]:
# Solution 6
r=float(input("Enter the radius of the circle: "))
area=3.14*r*r
circumference=2*3.14*r
print("Area of the circle is:",area)
print("Circumference of the circle is:",circumference)

Area of the circle is: 50.24
Circumference of the circle is: 25.12

## Lab 2: Strings

Q1. Compute distance between two points taking input from the user.

Q2. Take two numbers as Command line arguments and print their sum.

Q3. Reverse a string entered by the user.

Q4. Count the number of vowels in a string.

Q5. Check whether a string is a palindrome or not.

Q6. Replace all Spaces in a string with hyphen(-).

Q7. Covert the first character of each word to upper case.

In [8]:
# Solution 1
x1=float(input("Enter x1: "))
y1=float(input("Enter y1: "))
x2=float(input("Enter x2: "))
y2=float(input("Enter y2: "))
distance=((x2-x1)**2+(y2-y1)**2)**0.5
print("Distance between the points is:",distance)

Distance between the points is: 2.8284271247461903

In [9]:
# Solution 2
import sys
num1 = sys.argv[1]
num2 = sys.argv[2]
print("Sum:",num1 + num2)

IndexError: list index out of range

In [11]:
# Solution 3
str1 = input("Enter string: ")
print("Reversed string:", str1[::-1])

Reversed string: dlroW olleh

In [12]:
# Solution 4
str2 = input("Enter string: ")
vowels = 'aeiouAEIOU'
count = 0
for char in str2:
    if char in vowels:
        count += 1
print("Number of vowels in the string:", count)

Number of vowels in the string: 8

In [13]:
# Solution 5
str3=input("Enter string: ")
if str3==str3[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

In [15]:
# Solution 6
str4=input("Enter string: ")
new_str=str4.replace(" ","-")
print("String after replacing:",new_str)

String after replacing: The-world-is-so-big

In [16]:
# Solution 7
str5=input("Enter string: ")
new_str1=str5.title()
print("String after converting:",new_str1)

String after converting: The World Is Big

## Lab 3: Control Statements

Q1. Write a program to display the multiplication table of a number entered by the user.

Q2. Write a program to print the inverter pyramid of numbers.

Q3. Write a program to check is the input number by user is prime or not.

Q4. Write a program to calculate sum of digits.

Q5. Print numbers from 1 to 50. If the number is divisible by 3 then print "Fizz" instead of the number and if it is divisible by 5 then print "Buzz". If it is divisible by both 3 and 5 then print "FizzBuzz".

In [17]:
# Solution 1
n=int(input("Enter a number: "))
print("Multiplication table of",n)
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Multiplication table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [18]:
# Solution 2
for i in range(5):
    for j in range(5,i,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [19]:
# Solution 3
n=int(input("Enter a number: "))
if n<2:
    print(n,"is not a prime number.")
for i in range(2,int(n**0.5)+1):
    if n%i==0:
        print(n,"is not a prime number.")
        break
else:
    print(n,"is a prime number.")

45 is not a prime number.

In [20]:
# Solution 4
n=int(input("Enter a number: "))
c=0
for i in str(n):
    c+=int(i)
print("Sum of digits is:",c)

Sum of digits is: 18

In [21]:
# Solution 5
for i in range(1,51):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

## Lab 4: List

Q1. Write a program to input 10 integers in the list and print the largest and smallest integer.

Q2. Write a program to input 5 names in a list and print them in sorted order.

Q3. Write a program to reverse a list without using reverse function.

Q4. Given a list of marks, Write a program to find average of marks and display above average students.

Q5. Write a program to print all the items of a list using while loop by going through all the index number.

In [22]:
# Solution 1 
lst=[int(input("Enter integer")) for i in range(10)]
print("Largest integer is:",max(lst))
print("Smallest integer is:",min(lst))

Largest integer is: 10
Smallest integer is: 1

In [23]:
# Solution 2
names=[input("Enter name: ") for i in range(5)]
names.sort()
print("Names in sorted order:",names)

Names in sorted order: ['aakash', 'ark', 'harshit', 'manas', 'suyash']

In [24]:
# Solution 3
lst=[int(input("Enter integer: ")) for i in range(5)]
rev_lst=lst[::-1]
print("Reversed list is:",rev_lst)

Reversed list is: [77, 5, 3, 2, 1]

In [25]:
# Solution 4
marks=[70,85,90,60,75]
avg=sum(marks)/len(marks)
print("Average marks is:",avg)
print("Students with above average marks:")
for mark in marks:
    if mark>avg:
        print(mark)

Average marks is: 76.0
Students with above average marks:
85
90

In [26]:
# Solution 5
lst=[int(input("Enter integer: ")) for i in range(5)]
i=0
while i<len(lst):
    print(lst[i])
    i+=1

2
23
21
32
1

## Lab 5: Functions

Q1. A school maintains students grade in 3 subject. Write a function that will return the average marks. Show how default parameters could be used if a student has missed a test. Assume marks = 0.

Q2. A cafe allows customer to order multiple items. Write a function TOTAL BILL* Items where each item is given as a tuple name,price. This function should return the total bill.

Q3. In an e commerce system, APPLY DISCOUNT parameters ( price, discount ) is frequently used. Management asked to reduce repetitive function definition

Q4. Write a function which calculate area,
Conditions: if both length and breadth are provided return rectangle area, if only length is provided return square area.

Q5. Write a function BONUS with parameters ( Salary, rate = 0.10) that calculate the new salary after applying a bonus rate. Call the function ones using positional argument and ones using keyboard argument. Show a case where incorrect mixing of positional and keyword argument shows an error 

Q6. Design a function STUDENT RECORD parameters (course, subjects,*details) that stores the course name,age,grade using key word arguments.Write a program that demonstrates all three cases in one function call .

In [27]:
# Solution 1
def average_marks(sub1=0, sub2=0, sub3=0):
    total = sub1 + sub2 + sub3
    count = 3
    avg = total / count
    return avg


print(average_marks(80, 70))   
print(average_marks(80, 70, 90))

50.0
80.0

In [28]:
# Solution 2
def total_bill(*items):
    bill = 0
    for item in items:
        bill += item[1]
    return bill


order = (('Coffee', 120), ('Sandwich', 85), ('Cake', 55))
print(total_bill(*order))

260

In [30]:
# Solution 3
def apply_discount(price, discount):
    return price - (price * discount / 100)

discount_fn = lambda price, discount: price - (price * discount / 100)

print(apply_discount(500, 10))       
print(discount_fn(500, 15))

450.0
425.0

In [31]:
# Solution 4
def calculate_area(length, breadth=None):
    if breadth is None:
        return length * length
    else:
        return length * breadth

print(calculate_area(5))      
print(calculate_area(5, 8))

25
40

In [35]:
# Solution 5
def bonus(salary, rate=0.10):
    return salary + (salary * rate)

print(bonus(50000, 0.15))   
print(bonus(salary=50000, rate=0.20))  
print(bonus(50000))  

# This will raise a SyntaxError
# print(bonus(salary=50000, 0.20))

57500.0
60000.0
55000.0

In [34]:
# Solution 6 
def student_record(course, *subject, **details):
    print("Course:", course)
    print("Subjects:", subject)
    print("Details:", details)

student_record(
    "Computer Science",         
    "Math", "Physics", "CS",    
    name="Aman", age=19, grade="A"   
)

Course: Computer Science
Subjects: ('Math', 'Physics', 'CS')
Details: {'name': 'Aman', 'age': 19, 'grade': 'A'}

# Serching and Sorting

1) Linear Search
2) Binary Search

In [36]:
# Linear Search
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1


lst=[int(input("Enter integer: ")) for i in range(5)]
target=int(input("Enter target integer: ")) 
result = linear_search(lst, target)
if result != -1:
    print("Element found at index", result)
else:
    print("Element not found in the list.")

Element not found in the list.

In [37]:
# Binary Search
def binary_search(arr, target):
    left, right = 0, len(arr) - 1
    while left <= right:
        mid = (left + right) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1
    return -1

lst=[int(input("Enter integer: ")) for i in range(5)]
lst.sort()
target=int(input("Enter target integer: "))
result = binary_search(lst, target)
if result != -1:
    print("Element found at index", result)
else:
    print("Element not found in the list.")

Element not found in the list.